* {
    font-family: 'Seravek', sans-serif;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.show {
    opacity: 1;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-screen span {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    font-size: 26px;
    background: linear-gradient(180deg, rgb(255, 253, 0), rgb(255, 184, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coin-animation {
    width: 124px;
    height: 124px;
    background-image: url('./Content/coin.png');
    animation: play-coin 1s steps(10) infinite;
}

@keyframes play-coin {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1615px 0;
    }
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    min-height: 100vh;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.mining-content {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.mining-icon img {
    width: 350px;
    height: auto;
}

.wallet-address-title, .wallet-address, .web-app-version {
    font-size: 10px;
    font-weight: bold;
}

.wallet-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 1000;
}

.wallet-info {
    text-align: left;
    flex-grow: 1;
}

.wallet-address-title {
    font-weight: bold;
    margin: 0;
}

.wallet-address {
    margin: 0;
}

.web-app-version {
    font-size: 14px;
    color: #666;
    text-align: right;
}